@import "base";
@import "swiper";
@import "text";

p {
  border: 1px solid #ccc;
  @include border-radius(10px);
}
body {
  background: white;
}

header {
  display: block;
  height: 500px;
  background: white;
  h1 {
    position: relative;
    color: black;
    font-size: 50px;
    text-align: center;
    span {
      top: -15px;
      opacity: 0;
      position: relative;
      &.in {
        opacity: 1;
        top: 0;
      }
    }
  }
}

@for $i from 1 through 40 {
  .awesome span:nth-child(#{$i}) {
    transition: all 0.3s ease ($i / 20#{s});
  }
}

.horizon {
  display: flex;
  overflow-x: auto;
  div {
    min-width: 300px;
    height: 100px;
    background: rgba(255, 255, 3, 0.9);
  }
}

.swiper-wrapper {
  transition: 3s;
}
